* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #ffffff;
    --text-color: #0C0C0C;
    --main-color: #9CAFAA;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
    border: 1px solid #ccc;
}

/* Barra de navegación a la izquierda */
.navbar {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
}

.navbar .app-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .app-logo img {
    width: 50px;
    height: 50px;
}

.navbar h1 {
    font-size: 1.2rem;
    text-align: center;
}

.navbar button, .navbar a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover, .navbar a:hover {
    background-color: #45a049;
}

/* Sección principal */
.main-section {
    flex: 1;
    padding: 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-list {
    border-top: 1px solid #ccc;
}

/* Estilo de cada contacto */
.contact-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.contact-item p {
    margin: 0;
}

.contact-item button {
    margin-left: 10px;
    padding: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-item button:hover {
    background-color: #d32f2f;
}


